In [2]:
# External imports
import pandas as pd

In [4]:
# Read data from the file
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [56]:
df.isna().any()

age               False
workclass         False
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country    False
salary            False
dtype: bool

In [33]:
number_races = df.race.unique().shape[0]
print(f"The number of races is: {number_races}")

The number of races is: 5

In [32]:
for sex in ["Male", "Female"]:
    print(f"The average age of {sex} is: {df.age[df.sex == sex].mean()}")

The average age of Male is: 39.43354749885268
The average age of Female is: 36.85823043357163

In [49]:
educa = df.education[df.education == "Bachelors"]
print(f"The percentage of people who have a Bachelor's degree is {educa.count()*100/df.education.count()}%")

The percentage of people who have a Bachelor's degree is 16.446055096587944%

In [67]:
hi_edu = df.salary[df["education-num"] >= 13]
lo_edu = df.salary[df["education-num"] < 13]

hi_edu_per = hi_edu[hi_edu == ">50K"].count()*100/hi_edu.count()
lo_edu_per = lo_edu[lo_edu == ">50K"].count()*100/lo_edu.count()

print(f"The percentage of people with advanced education that make more than 50K is {hi_edu_per}%")
print(f"The percentage of people without advanced education that make more than 50K is {lo_edu_per}%")

The percentage of people with advanced education that make more than 50K is 48.45667534399405%
The percentage of people without advanced education that make more than 50K is 16.052910916959256%

In [74]:
min_hours = df["hours-per-week"].min()
print(f"The minimum number of hours a person works per week is {min_hours}")

The minimum number of hours a person works per week is 1

In [83]:
peo_h_min = df.salary[df["hours-per-week"] == min_hours]
min_h_per = peo_h_min[peo_h_min == "<50K"].count()*100/peo_h_min.count()
print(f"The percentage of the people who work the minimum number of hours per week have a salary of >50K is {min_h_per}%")

The percentage of the people who work the minimum number of hours per week have a salary of >50K is 0.0%

In [85]:
df["native-country"].describe()

count             32561
unique               42
top       United-States
freq              29170
Name: native-country, dtype: object