# Homework solution - 01 introduction to MLOps module

In this notebook are the answers of the homework of the module 01 of the course (Introduction to MLOps).

In [1]:
# External imports
import numpy as np
import pandas as pd

In [2]:
# Read the data from the .parquet files
df = pd.read_parquet("../../data/fhv_tripdata_2021-01.parquet")
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037

## Question 1: Number of records in Jan 2021 FHV data

In [3]:
# Get number of records in Jan 2021 FHV data
print(f"The number of records in Jan 2021 FHV data is: {df.shape[0]}")

The number of records in Jan 2021 FHV data is: 1154112

## Question 2: Average duration in Jan 2021 FHV

In [4]:
# Get the average duration in Jan 2021 FHV
df.dropOff_datetime = pd.to_datetime(df.dropOff_datetime)
df.pickup_datetime = pd.to_datetime(df.pickup_datetime)

df['duration'] = df.dropOff_datetime - df.pickup_datetime
df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

print(f"The average duration in Jan 2021 FHV is: {df.duration.mean()}")

The average duration in Jan 2021 FHV is: 19.167224093791006

## Question 3: Fraction of missing values

In [5]:
# Let's replace the NaN values of <PUlocationID> feature with the value of -1
df.PUlocationID  = df.PUlocationID.apply(lambda x: -1 if (np.isnan(x)) else x)
print(f"The fraction of missing values for the pickup location ID is: {df[df.PUlocationID == -1].shape[0]*100/df.shape[0]} %")

The fraction of missing values for the pickup location ID is: 83.03067639882438 %

## Question 4: Dimensionality after OHE

The dimensionality of the matrix (Number of columns) of the train matrix after the one-hot encoding is **525**.

See: [ride-duration-prediction.ipynb](ride-duration-prediction.ipynb)

## Question 5: RMSE on train

The RMSE on train is **10.52**.

See: [ride-duration-prediction.ipynb](ride-duration-prediction.ipynb)

## Question 6: RMSE on validation

The RMSE on validation is **11.01**.

See: [ride-duration-prediction.ipynb](ride-duration-prediction.ipynb)